<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>PDF Exporting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        div {
            line-height: 2.0;
        }
        .grey-box {
            background-color: white;
        }
        .underline {
            text-decoration: underline;
        }
        .bold {
            font-weight: bold;
        }
        a:link {
            font-weight: bold;
            color: blue;
        }
        a:hover {
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body>
</br>
<div class="grey-box">
    <div>[(${message})]</div>
</div>
</body>
</html>